@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Area_Normal_ExtraBold';
  src: url('/fonts/fonnts.com-Area_Normal_ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Area_Normal_Regular';
  src: url('/fonts/fonnts.com-Area_Normal_Regular.otf') format('opentype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(255, 126, 50, 0.35);
  /* Orange semi-transparent */
  color: #ffffff;
}

::-moz-selection {
  background-color: rgba(255, 125, 50, 0.35);
  /* Pour Firefox */
  color: #ffffff;
}

/* Cacher la barre de défilement tout en gardant la fonctionnalité */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}